[submodule "apps/jsonrpc-tcp-srv"]
	path = apps/jsonrpc-tcp-srv
	url = https://github.com/hackboxguy/jsonrpc-tcp-srv.git
[submodule "apps/xmproxy-webapp"]
	path = apps/xmproxy-webapp
	url = https://github.com/hackboxguy/xmproxy-webapp.git
[submodule "apps/ivi-config"]
	path = apps/ivi-config
	url = https://github.com/hackboxguy/ivi-config.git
